

<div class="container">
	<div class="card">
      <div class="card-block">
        <h4 class="card-title">ABOUT ME</h4>
      </div>
      <div class="card-footer">
      		<p>Võ Khánh Hưng</p>
			<p>Year of birth: 1994</p>
			<p>Student at University Of Information Technology</p>
			<p>You can contact me through email khanhhungvo001@gmail.com</p>
			<p>This blog is my first ruby on rails demo </p>
      </div>
    </div>
	
</div>
	
		

